<footer class="bg-base-100 text-base-content py-6">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div class="space-y-1">
                <h3 class="text-2xl font-semibold">Contact</h3>
                <p>Address: Via delle Rose, 123</p>
                <p>Email: <a href="mailto:info@esempio.com" class="text-primary">info@esempio.com</a></p>
                <p>Phone: +41 123 456 789</p>
            </div>

            <div class="space-y-4">
                <h3 class="text-2xl font-semibold">Usesfull links</h3>
                <ul class="space-y-1">
                    <li><a href="/about" class="text-primary hover:underline">About us</a></li>
                    <li><a href="/contact" class="text-primary hover:underline">Contact</a></li>
                </ul>
            </div>

            <div class="space-y-4">
                <h3 class="text-2xl font-semibold">Settings</h3>
                <ul class="space-y-4">
                    <li>
                        <label class="flex cursor-pointer gap-2">
                            <i class="ri-moon-fill"></i>
                            <input type="checkbox" value="light" class="toggle theme-controller" />
                            <i class="ri-sun-line"></i>
                        </label>
                    </li>
                    <li>
                        <div class="gtranslate_wrapper"></div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="mt-8 text-center text-sm">
            <p>&copy; 2024/25 Luca Gastaldi. All right reserved.</p>
        </div>
    </div>
</footer>

<script>window.gtranslateSettings = { "default_language": "en", "native_language_names": true, "languages": ["it", "en", "fr", "de"], "wrapper_selector": ".gtranslate_wrapper" }</script>
<script src="https://cdn.gtranslate.net/widgets/latest/dropdown.js" defer></script>
<script src="/js/theme.js"></script>